.home-container{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.home-container .ant-card{
    min-height: 300px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-container .ant-card img{
    object-fit: cover;
    height: 180px;
    width: 100%;
}