*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.nav_wrapper{
  height: 50px;
  
}
.video_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;

}

.btn {
  padding: 1rem 3rem;
  margin: 3rem;
}